<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/page/index}" class="brand-link">
        <img th:src="@{/admin/dist/img/logo.png}" alt="ssm-cluster Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">music online</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/admin/dist/img/avatar5.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" th:text="${session.loginUser}"></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">MusicOnline</li>
                <li class="nav-item">
                    <a th:href="@{/page/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            首页
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/page/vinyl/edit}" th:class="${path}=='vinyl-edit'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa fa-pencil-square-o"></i>
                        <p>
                            发布唱片
                        </p>
                    </a>
                </li>
                <li class="nav-header">管理模块</li>
                <li class="nav-item">
                    <a th:href="@{/page/vinyl}" th:class="${path}=='vinyl'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>
                            唱片管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/page/album}" th:class="${path}=='album'?'nav-link active':'nav-link'">
                        <i class="fa fa-bookmark nav-icon" aria-hidden="true"></i>
                        <p>
                            专辑管理
                        </p>
                    </a>
                </li>
                <li class="nav-header">系统管理</li>
                <li class="nav-item" id="userManagementItem">
                    <a th:href="@{/page/user}"
                       th:class="${path}=='user'?'nav-link active':'nav-link'">
                        <i class="fa fa-wrench nav-icon"></i>
                        <p>用户管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/page/user/info}"
                       th:class="${path}=='info'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>个人信息</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" onclick="logoutWithToken()">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>安全退出</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

</html>